body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 100px;
    background-color: #81d0cb;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-family: 'Kosugi', sans-serif;
}
header div {
    cursor:pointer;
    font-family: 'Kosugi', sans-serif;
}

header div div i[name="logout"] {
    display: none;
}


input[type="text"], input[type="password"] {
    width: 200px; 
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px; 
    border: 2px solid #ddd;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 2px solid rgb(115, 115, 199); 
    z-index: 10;
    outline: 0;
}
button {
    display: inline-block;
    max-width: 180px;
    text-align: left;
    border: 2px solid #9ec34b;
    font-size: 16px;
    color: #9ec34b;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: .4s;
}
button:hover {
    background-color: #9ec34b;
    border-color: #cbe585;
    color: #FFF;

}

input[type="datetime-local"] {
    border-radius: 10px; 
    border: 2px solid #ddd;
    height: 40px; 
}

.middle {
    flex: 1;
    display: flex;
}

.main {
    box-shadow: 1px 1px 5px 1px #999;
    position: relative;
}

.manageUserForm, .loginForm {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    box-shadow: 1px 1px 5px 1px #999;
}
.manageUserForm .wrapper, .loginForm .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 10px;
    color: gray;
}

aside {
    width: 25%;
    min-width: 150px;
    overflow-y:scroll;
}

aside::-webkit-scrollbar {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    position: relative;
}
  
ul li {
    color: white;
    background: #81d0cb;
    line-height: 1.5;
    padding: 0.5em 0.5em 0.5em 2em;
    border-top: 2px solid white;
    list-style-type: none!important;
    font-weight: bold; /*好みで太字に*/
    cursor:pointer;
}

ul li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    position: absolute;
    left : 0.5em; /*左端からのアイコンまでの距離*/
    color: white; /*アイコン色*/
}

.main {
    flex: 1;
}